<div class="container">
    <form>
        <h1><b>Change Email Address</b></h1>
        <br>
        <p>Enter the new email address and your current password to confirm the changes.</p>
        <br>
        <div class="field">
            <span>
                <img src="assets/images/Email Icon.png">
                <input type="email" placeholder="Enter Email Address">
            </span>
        </div>

        <div class="field">
            <span>
                <img src="assets/images/Password Icon.png">
                <input type="password" placeholder="Confirm New Password">
            </span>
        </div>

        <br>
        <div class="submit-btn">
            <input type="submit" class="submit" value="Submit" (click)="onSubmit($event)">
        </div>
    </form>
</div>