<div class="container" id="register" [ngClass]="isDirectlyAccessed() ? 'direct' : 'notDirect'">
    <h1>Create Account</h1>

    <div class="login-icons">
        <button><img src="assets/images/Google Icon.png" alt=""></button>
        <button><img src="assets/images/Facebook Icon.png" alt=""></button>
        <button><img src="assets/images/Twitter Icon.png" alt=""></button>
    </div>

    <p class="login-option-spiel">or use your email to register</p>

    <form>
        <div class="field">
            <span>
                <img src="assets/images/account.png" alt="" id="user">
                <input type="text" placeholder="Username">
            </span>
        </div>

        <div class="field">
            <span>
                <img src="assets/images/Email Icon.png" alt="">
                <input type="email" placeholder="Email" id="email">
            </span>
        </div>
        
        <div class="field">
            <span>
                <img src="assets/images/Password Icon.png" alt="">
                <input type="password" placeholder="Password">
            </span>
        </div>

        <a href="">Forgot Password?</a>

        <br><br><br>
        <button id="sign-in">REGISTER</button>
    </form>
</div>