.wrapper {
    height:400px;
    display: flex;
}

.contacts,
.about {
    width: 50%;
    padding:80px;
    color: #fafafa;
    background: rgba(11, 37, 49, 0.93);
}

.contacts {
    background-color: #0B2531;
}

.container {
    max-width: 500px;
    margin:auto;
}

ul {
    list-style: none;

    li{
        align-items: center;
        display: flex;
        margin: 20px auto;

        a {
            color: #fafafa;
            text-decoration: none;
            margin-left: 10px;
        }

        div {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: rgba(196, 196, 196, 0.16);
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                height: 30px;
                border-radius: 0;
                padding:0;
                background: none;
            }
        }
    }
    
}




@media screen and (min-width:1440px) {
    .container {
        margin-left: 0px;
    }

    #contacts{
        margin:0 0 0 auto;
    }
}