.bg {
    z-index: -1;
    margin-top: -99vh;
    height: 99vh;

    img {
        margin-top: 17.5%;
        width: 100%;
    }
    overflow: hidden;
}

#back-btn{
    height: 40px;
    width: 40px;
    padding: 0;
    background-color: transparent;
    border: transparent;
    
    img {
        height:30px;
        width: 30px;
    }
}


.wrapper {
    overflow: hidden;
    position: relative;
    height: 99vh;
    box-sizing: border-box;
    padding: 2.5%;
    overflow: hidden;
}

