<div class="wrapper">
    <button id="back-btn"><img src="assets/images/icons8-back-90 1.png" alt=""></button>
    <div class="box">
        <div class="spiel">
            <img src="assets/images/Verify icon.png" alt="Verification Icon">
            <h1>Verification</h1>
            <p>Please verify your account by entering the code we have sent to your email address.</p>
        </div>

        <br>
        <form>
            <div class="field">
                <span>
                    <img src="assets/images/Password Icon.png" alt="">
                    <input type="text" placeholder="Enter Code">
                </span>
            </div>

            <div class="submit-btn">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</div>
<div class="bg">
    <img src="assets/images/urban-328 1.png" alt="">
</div>

