<mat-drawer-container class="container" hasBackdrop=true>
    <mat-drawer 
        mode="over" 
        position="end" 
        [opened]="drawerState" 
        #sidenav >

        <button class="back-btn" 
            (click)="sidenav.toggle()">
            <img src="assets/images/icons8-back-90 1.png" alt=""></button>
    
        <br>
        <br>

        <form>
            <div class="dp-ign">
                <img src="assets/images/User Account Link.png" alt="User Account">
                <p>{{ username }}</p>
            </div>
            
            <br><hr><br>
            
            <div class="field">
                <p>Email Address</p>
                <p>noitsbecky@gmail.com</p>
                <button><img src="assets/images/edit.png" alt="" (click)="onEmailChange($event)"></button>
            </div>
            
            <div class="field">
                <p>Password</p>
                <p>••••••••••</p>
                <button><img src="assets/images/edit.png" alt="" (click)="onPassChange($event)"></button>
            </div>
        </form>

        <div class="logout">
            <button>Sign Out</button>
        </div>
    </mat-drawer>

    <app-user-nav 
        (sidenav)="sidenav.toggle()"
        [drawerState]="drawerState"></app-user-nav>



    <section>
        <router-outlet></router-outlet>
    </section>
    
</mat-drawer-container>