<div class="container">
    <!-- <div class="bg">
        <img src="assets/images/urban-328 1.png" alt="">
    </div> -->
    <div class="box">
        <div class="box-1" [@boxOneState]="boxOneState">
            <!-- <div id="login-form">
                <app-login></app-login>
            </div> -->

            <app-enroll></app-enroll>
            
        </div>

        <div class="box-2" [@boxTwoState]="boxTwoState">
            <div class="spiel">
                <h1>Hello there!</h1>
                <p>Enter your details and start your journey with us.</p>
                <button (click)="onToggleSignUp()">SIGN UP</button>
            </div>
            
        </div>
    </div>

</div>