<div class="container">
    <div class="box">
        <div class="box-1" [@boxOneState]="boxOneState">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Ipsa error, corporis, facilis quod delectus mollitia rem inventore a ad 
                deserunt quos labore fuga optio cum quis. Dicta similique iusto quo commodi, 
                velit rem tempora id porro vitae quod cum reiciendis numquam molestiae quidem 
                facere nesciunt blanditiis ad sapiente in? Quia!</p>
        </div>

        <div class="box-2" [@boxTwoState]="boxTwoState">
            <button (click)="onToggleSignUp()">click me</button>
        </div>
    </div>

</div>