/* You can add global
$secondaryColor = #E0563B;
styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500&display=swap');
@import url('http://fonts.cdnfonts.com/css/bahnschrift');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~quill/dist/quill.snow.css';


$primaryFont: 'Roboto', sans-serif;
$specialFont:'Bahnschrift', sans-serif;
$color3 : #E0563B;

* {
  padding: 0;
}

body {
  min-width: 1366px;
  margin: auto;
  padding: 0;
  font-family: $primaryFont !important;
  background-color: whitesmoke;
  font-weight: 300;
}

html, body { 
  scroll-behavior: smooth;
  height: 100%; 
}

body {
  margin: 0; font-family: 'Roboto', "Helvetica Neue", sans-serif; 
}

::ng-deep mat-dialog-container {
  border-radius: 20px !important;
}

#jDialog {
  padding: 0;
  border-radius: 20px !important;
}

.custom-dialog-container .mat-dialog-container {
  padding: 0 !important;
  border-radius: 20px !important;
}

.field{
  margin: 10px auto;
  span {        
      img {
          height: 25px;
          position: relative;
          right: -35px;
          top: 7px;
      }
      input{
          border: 0.5px solid #ECF0F1;
          background-color: #ECF0F1 !important;
          padding: 8px 30px 8px 40px;
          font-size: 14px;
          text-align: start !important;
      }

      input:active, input:focus{
          outline: 0.5px solid #74919F;
          border: 0.5px solid #74919F;
      }
  }

}


input.submit {
  width: 96px;
  height: 33px;
  border: 1px solid transparent;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background: #34596F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}


.modal .mat-dialog-container {
  padding: 20px;
  border-radius: 20px !important;
}


#editor {
  margin: auto;
  max-width: 985px;
  //width: 100%;
  height: 100vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  padding: 0px !important;
  border-radius: 0px !important;
}