.navbar{
  height: 95px;
  box-sizing: border-box;
  background:transparent;
  z-index: 999;
  position: relative;
  width:100%;
  max-width: 1366px;
  margin: auto;
}

.sticky{
  top: 0;
  position: fixed;
  overflow: hidden;
  background-color: #233B55;
  max-width: 100%;
}

#home {
  height: 600px;
}

.main-section {
  position: relative;
  top: -95px;
  z-index: -11;
}

#contact {
  padding: 50px 0;
}